:root{
  --col_r: #b32f23;
  --col_p: #FA9494;
  --col_w: #CFD2CF;
  --col_post: #E0C9A6;
  --nav_size: 100px;
}

@font-face{
  font-family: 'rediviva';
  src: url('../res/rediviva.regular.ttf');
}

*{
  font-family:rediviva; font-weight: 100;
  margin: 0;
  padding: 0;
  

}

textarea{
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box; 
}

body{
  background-color: var(--col_r);
  color: var(--col_w);
}

img{
  object-fit: contain;
}

textarea{
  resize: none;
  width: 100%;
  border: 0;
  padding: 10px;
  background-color: var(--col_post);
}
textarea:focus{
  outline: none !important;
  border: 0;
  
}


#main{
  margin: auto;
  width: 35%;
  padding: 10px 10px 10px;
  
  text-align: center;
  
  border: solid 3px var(--col_r);
  border-radius: 20px;
}

#sidenav{
  height: 100%;
  width: var(--nav_size);
  position: fixed;
  z-index: 1;
  top:0;
  left:0;
  overflow-x:hidden;
  padding-top: 20px;

  padding: 6px 5px 6px 5px; /* top, right, bottom, left */
  background-color: white;
}

#sidenav>.button{
  height: var(--nav_size);
}

#sidenav>.button #newPost{
  border: 0 solid white;
  border-radius: 50%;
  width: 100%;

  background-color: greenyellow;

}


#sidenav>.end{
  bottom: 0;
  height:10vh;

}

a.button, a.button>*{
  float: left;
  width: 100%;
  object-fit: contain;
}

.post{
  background-color: var(--col_post);
  color: #101010;
  border: 0 0 0;
  border-radius: 30;

  padding: 10px;
  margin-top:30px;
  margin-bottom: 10px;
}

.meta{
  width: 100%;
  margin-bottom: 20px;
}

.meta>*{
  float: left;
  text-align: left;
  margin: 0;
  vertical-align: middle;
  }
.meta>.author{
  font-weight: bold;
}
.author img, 
.profile img
{
  width:5%;
  object-fit: contain;
  float: left;
  margin-right: 10px;
  vertical-align: middle;
}

.post>.content{
  padding:20px;
  text-align: left;
}

.post>small{
  font-size:x-small;
}

.post>p{
  text-align: left;
}

.post>img{
  width:100%;
  object-fit: contain;
}

td{
  padding: 0 30px 0 0;
}

.actions>input[type=submit]{
  
}

.actions .heart{
  font-size:large;
  float: left;
}
.actions .heart::before{
  color:gray;
  content: "♡";
}
.actions .heart[fill]::before{
  color:red;
  content: "❤";
}


.comment{
  background-color: var(--col_post);
  color:#101010;

  padding: 10px;
  margin-top: 30px;
  margin-bottom: 40px;
}

.comment>p{
  float: left;
}

/* NEW POST */
#newPost{
  border: 0 solid var(--col_post);
  border-radius: 10;
  background-color: var(--col_post);
}
#newPost>button{
  float: right;
  margin-right: 5vw;
  font-size: large;
}

/* PROFILE */
.avatar{
  border-radius: 50%;
  left:0;
}
#big_avatar{
  border-radius: 50%;
  width:30%;
}

.profile{
  background-color: var(--col_p);
}
#edit_profile > textarea{
  resize: none;
  width: 100%;
  border: 1;
  padding: 0;
  margin:0;
  background-color: var(--col_w);
}

input.follow{
  border: 0 solid var(--col_w);
  border-radius: 10px;
  padding: 5px; 
  float: right;
}
.follow[following="1"]::before{
  background-color: var(--col_r);
  content: "Obserwujesz";
}
.follow[following="0"]::before{
  background-color: var(--col_w);
  content: "Obserwuj";
}


input[type=text], 
input[type=email],
input[type=password]{
  color: var(--col_r);
  margin: 8px 0;
  padding: 12px 20px;
  
  width: 70%;
}

.main>input[type=submit]
{
  background-color: var(--col_r);
  color: var(--col_w);
  
  font-size: 2vw;
  
  border-radius: 10px;
  padding: 10px;

  width: 70%;
}

label{
  text-align: left;
  margin: 0 auto;  
}


input::focus{
  outline: 2px solid var(--col_r);
  border: 2px solid var(--col_r);
  border-color: var(--col_r);
}

fieldset {
  border: 0;
}
#search-bar{
  background-color: var(--col_w);
  border: 1 solid white;
  border-radius: 40px;
  color:#101010;

  padding: 5px 0 5px;
}
#search-bar input[type='radio']{
  margin-right: 15px;
}
#search-bar button[type='submit']{
  float:right;
  font-size:larger;
}

#warning{
  border: 2px solid red;
  background-color: red;
  border-radius: 20px;
  color: var(--col_w);
}

.expandable {
  background: #fff;
  overflow: hidden;

  transition: all .5s ease-in-out;
  line-height: 0;
  padding: 0 1em;
  color: transparent;
}
 
.expandable:target {
  line-height: 1.5;
  padding-top: 1em;
  padding-bottom: 1em;
  color: black;
}